td{
	height: 200px;
	width: 200px;
	text-align: center;
	font-size: 100px;
	background-color: lightblue;
	border-radius: 100px;
	box-shadow: 10px 10px 5px gray;
}

#endGame{
	position: fixed;
	top: 50%;
  left: 50%;
  width:30em;
  height:18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
  background-color: #f3f3f3;

	text-align: center;
	font-family: "Lucida Sana Unicode","Lucida Grande", sans-serif, 60px;
}

h1{
}
